$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icons/fonts" !default;

$icon-angle-circle-down: "\e900";
$icon-angle-circle-left: "\e901";
$icon-angle-circle-right: "\e902";
$icon-angle-circle-up: "\e903";
$icon-angle-down: "\e904";
$icon-angle-left: "\e905";
$icon-angle-right: "\e906";
$icon-angle-up: "\e907";
$icon-close: "\e908";
$icon-play: "\e909";
$icon-star-full: "\e90a";
$icon-star-half: "\e90b";
$icon-bars: "\e90c";

